### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste-webowego index
RewriteRule kim-jestem kimjestem
RewriteRule oferta-tworzenie-stron-www oferta
RewriteRule cv-programista-php-javascript cv
RewriteRule kontakt-programista-php kontakt